NODE_ENV=development
PORT=3000
STREAM_GATEWAY_PORT=8443
DATABASE_URL="postgresql://neondb_owner:npg_fKwMEDFB4I9u@ep-withered-sky-ayaeqbh5-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
REDIS_URL=
NATS_SERVERS=
JWT_SECRET_KEY=